body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: rgba(176,197,240,0.39);
}

#root {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
}




