.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24);
    width: 100%;
    padding: 20px 0;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
}

.header {
    margin: auto;
    padding: 5px;
}

.user-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 30px;
}

button.logOut-button {
    font-weight: bold;
    max-height: 60px;
    margin-right: 30px;
}

button.hidden-button {
    display: none;
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 1.5rem;
    }
}
