.footer-container, .links-container, .icons-container, .email-link {
    display: flex;
}

.footer-container {
    width: 100%;
    background: rgba(85,87,140,0.59);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    padding-bottom: 15px;
}

.author-name {
    font-size: 1.5rem;
    line-height: 3rem;
    color: black;
    margin: 0;
}

.info-link {
    text-decoration: none;
    text-underline: none;
    font-weight: bold;
    cursor: pointer;
}

.email-link {
    align-items: center;
}

.icon {
    width: 30px;
    margin-right: 10px;
}

.mail-info {
    color: #000;
}

@media screen and (max-width: 350px) {
    .icons-container{
        width: 100%;
    }

    .links-container {
        justify-content: center;
        width: 120px;
    }

    .email-link {
        display: none;
    }
}
