.window {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages {
    width: 90%;
    margin: 0 auto;
    height: 90%;
    background: rgba(244,255,245,0.99);
    overflow-y: auto;
}
